@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&family=Roboto:wght@400;700&display=swap');

:root {
  --bodyFont: 'Lexend', sans-serif;
  --uiFont: 'Roboto', sans-serif;
  --cartUiPadding: 20%;
  --btnBgC: rgb(218, 119, 141);
}

.App {
  display: flex;
  flex-direction: column;
  height:100%;
}

html, body, #root {
  height: 100%;
  flex-direction: column;
  display: flex;
}

* {
  margin: 0;
  padding: 0;
}

.top-nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  
  background: linear-gradient(to right, #ba5370, #f4e2d8);
}

.top-nav > :nth-child(1) {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.top-nav > div > h3, .nav-list > a {
  font-family: var(--bodyFont);
  font-weight: bold;
}

.nav-list > a:visited, .nav-list > a {
  text-decoration: none;
  color: inherit;
}



.nav-list > a:active {
  color:rgb(197, 62, 80);
}

.nav-list {
  display:flex;
  justify-content: space-around;
  list-style-type: none;
  gap: 10px;
}

.shopGrid > a:visited, .shopGrid > a {
  text-decoration: none;
  color: inherit;
  font-family: var(--bodyFont)
}

.itemDetailList > li {
  font-family: var(--bodyFont);
  
  
}


.itemDetailList > :nth-child(1) {
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  
}

.eventGrid {
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 15px;
  height: 100%;
  background: black;
  padding:10px;
}

.shopGrid {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  padding: 100px;
  grid-gap: 10px;
}

.itemsDiv {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  
}

.itemsDiv:hover {
  cursor: pointer;
}

.itemsDiv:hover .itemsImg {
  transform:scale(1.1)
}

.itemsImg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  transition: all .5s;
}

.itemName {
  text-align: center;
}

.cardTxt {
  font-family: var(--bodyFont);
  font-weight: bold;
  color: var(--btnBgC);
  padding: 5px;
  text-shadow: 1px 1px 1px black;
}

.eventGrid > div:nth-child(1) {
  grid-column: 1/5;
  grid-row: 1/4;
}

.logoImg {
  background-image: url(./img/logo.svg);
  background-repeat:no-repeat
}

.eventCards {
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .5s;
  
}

.eventCards:hover {
  cursor: pointer;
  transform:scale(0.95);
  
}


.itemDetailsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.itemDetailImgDiv, .detailsRight {
  
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.detailsRight {
  
  min-width: 20%;
  min-height: 50px;
}

.cartDetailDiv {
  display:flex;
  padding: 5px;
  justify-content: space-around;
}

.detailsLeft > p {
  font-size: 16px;
  
}

.itemDetailGrid {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  width: 40%;
  height: 100%;
}


.itemDetailGrid > div:nth-child(1) {
  grid-row: 2/3;
}

.itemDetailGrid > div:nth-child(2) {
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  grid-row: 3/5;
  flex-direction: column;
  gap:5px;
}

.itemDetailList {
  list-style-type: none;
}

.totalDiv {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: var(--cartUiPadding)
}

input::-webkit-inner-spin-button {
  display: none;
  
}

.qtyInput {
  
  border:0;
  width: 2vw;
  text-align: center;
  padding: 0;
  font-family: var(--bodyFont);
  font-weight: bold;
  
}

.qtyBtnDiv {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
}

.qMinusBtn, .qPlusBtn {
  color: rgb(187, 48, 95);
  background-color: inherit;
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: var(--bodyFont);
  cursor: pointer;
  font-size: 18px;
}

.qMinusBtn:hover, .qPlusBtn:hover {
  background: red;
}

.addCartBtn {
  padding: 3px;
}

.removeBtn {
  padding:3px;
}

.checkoutDiv {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: var(--cartUiPadding);
  margin-bottom: 20%;
  
}

.checkoutBtn, .removeBtn, .addCartBtn  {
  font-family: var(--bodyFont);
  cursor:pointer;
  padding: 10px;
  border: 0;
  background: var(--btnBgC);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.checkoutBtn:hover, .removeBtn:hover, .addCartBtn:hover {
  cursor: pointer;
  filter: brightness(90%);
}