:root {

}

.App {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
}

.top-nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: rgb(125, 106, 196);
}

.nav-list {
  display:flex;
  justify-content: space-around;
  list-style-type: none;
  gap: 10px;
}

.eventGrid {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.eventCards {
  background-size: contain;
  background-repeat: no-repeat;
}